main{
    padding: 0;
    margin: auto

    section{
        width: 1160px;
        margin: auto;
    }
}

.first{
    background: #004F44;
    height: 100vh;
}

.firstImage{
    img{
        width: 600px;
        height: 545px;
    }
}